data/stores/snap_retailers_us_raw.csv filter=lfs diff=lfs merge=lfs -text
data/stores/snap_retailers_raw_sample_cols.csv filter=lfs diff=lfs merge=lfs -text
data/stores/**/*.zip filter=lfs diff=lfs merge=lfs -text
